<ngx-spinner
  size="large"
  type="ball-atom"
  class="text-center"
  *ngIf="loadingGenerate"
>
  <p class="loading-text">
    Analizando ofertas de trabajo para {{ jobTitleControl?.value }}
    <br />
    <br />
    Este proceso puede tardar unos minutos...
  </p>
</ngx-spinner>

<form
  [formGroup]="discoverForm"
  (ngSubmit)="discover()"
  fxLayout="column"
  fxLayoutGap="20px"
>
  <mat-form-field>
    <mat-label>Título de trabajo</mat-label>
    <mat-icon color="primary" matSuffix>work</mat-icon>
    <input
      matInput
      formControlName="jobTitle"
      type="text"
      name="jobTitle"
      id="jobTitle"
      [matAutocomplete]="autoJobTitles"
      placeholder="¿Qué trabajo de TI te gusta?"
    />
    <mat-autocomplete autoActiveFirstOption #autoJobTitles="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredJobTitles | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>El perfil de trabajo que más te gusta</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ubicación</mat-label>
    <mat-icon color="primary" matSuffix>place</mat-icon>
    <input
      matInput
      formControlName="location"
      type="text"
      name="location"
      id="location"
      [matAutocomplete]="autoLocations"
      placeholder="¿Dónde te gustaría trabajar?"
    />
    <mat-autocomplete autoActiveFirstOption #autoLocations="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredLocations | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>El lugar en que te gustaría trabajar</mat-hint>
  </mat-form-field>

  <mat-checkbox
    formControlName="useUserPreferences"
    name="useUserPreferences"
    id="useUserPreferences"
    (change)="onChangeUseUserPreferences()"
    matTooltip="Utiliza el título de trabajo y ciudad configurada en tu cuenta."
  >
    Utilizar mis preferencias de usuario
  </mat-checkbox>

  <br />

  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxLayoutAlign="center"
  >
    <button
      mat-flat-button
      [disabled]="loadingGenerate || isInCooldown"
      color="primary"
      type="submit"
    >
      {{
        isInCooldown
          ? "VUELVA A INTENTAR EN UN MINUTO"
          : "DESCUBRIR PERFIL PROFESIONAL"
      }}
    </button>
    <button
      mat-stroked-button
      color="accent"
      [disabled]="loadingGenerate || isInCooldown"
      type="button"
      (click)="discoverRandom()"
      matTooltip="Descubre un perfil de desarrollador aleatorio para Guayaquil, Ecuador."
    >
      {{
        isInCooldown ? "VUELVA A INTENTAR EN UN MINUTO" : "¡VOY A TENER SUERTE!"
      }}
    </button>
  </div>
</form>
