<ngx-spinner type="ball-8bits" *ngIf="loadingGenerate"></ngx-spinner>

<form
  [formGroup]="discoverForm"
  (ngSubmit)="discover()"
  fxLayout="column"
  fxLayoutGap="20px"
>
  <mat-form-field>
    <mat-label>Título de trabajo</mat-label>
    <mat-icon color="primary" matSuffix>search</mat-icon>
    <input
      matInput
      formControlName="jobTitle"
      type="text"
      name="jobTitle"
      id="jobTitle"
      placeholder="Ejemplo: Desarrollador Móvil"
    />
    <mat-hint>El perfil de trabajo que más te gusta</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ubicación</mat-label>
    <mat-icon color="primary" matSuffix>place</mat-icon>
    <input
      matInput
      formControlName="location"
      type="text"
      name="location"
      id="location"
      placeholder="Ejemplo: Guayaquil, Ecuador."
    />
    <mat-hint>El lugar en que te gustaría trabajar</mat-hint>
  </mat-form-field>

  <mat-checkbox
    formControlName="useUserPreferences"
    name="useUserPreferences"
    id="useUserPreferences"
    (change)="onChangeUseUserPreferences()"
    matTooltip="Utiliza el título de trabajo y ciudad configurada en tu cuenta."
  >
    Utilizar mis preferencias de usuario
  </mat-checkbox>

  <br />

  <div fxLayout fxLayoutGap="10px" fxLayoutAlign="center">
    <button
      mat-flat-button
      [disabled]="loadingGenerate"
      color="primary"
      type="submit"
    >
      DESCUBRIR PERFIL PROFESIONAL
    </button>
    <button
      mat-stroked-button
      color="accent"
      type="button"
      (click)="discoverRandom()"
      matTooltip="Descubre un perfil de desarrollador aleatorio para Guayaquil, Ecuador."
    >
      ¡VOY A TENER SUERTE!
    </button>
  </div>
</form>
