mat-sidenav {
  width: 300px;
}

figure {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

img {
  height: 100%;
  width: auto;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.account-name {
  margin-top: 0.5rem;
  font-size: large;
  font-weight: 500;
}
