<mat-sidenav-container class="h-screen-custom">
  <mat-sidenav
    [opened]="sidenavOpened"
    (closed)="closeSidenav()"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
    opened
  >
    <app-photo></app-photo>
    <app-account-nav-list
      (clickOption)="mobileQuery.matches && closeSidenav()"
    ></app-account-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
