<mat-sidenav-container class="h-screen-custom">
  <mat-sidenav
    [opened]="sidenavOpened"
    (closed)="closeSidenav()"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
    opened
  >
    <div class="avatar-container">
      <div
        #photo
        [ngStyle]="{ 'background-image': 'url(' + this.account.photo + ')' }"
        id="photo"
        alt="account photo"
        (click)="fileInput.click()"
      ></div>
      <h3 class="account-name">{{ fullName | titlecase }}</h3>
      <mat-card-subtitle>{{ account.biography }}</mat-card-subtitle>
    </div>
    <input
      #fileInput
      type="file"
      style="display: none"
      (change)="uploadAccountPhoto()"
    />

    <mat-nav-list>
      <a
        *ngFor="let option of menuOptions"
        mat-list-item
        [routerLink]="option.path"
        (click)="mobileQuery.matches && closeSidenav()"
      >
        <mat-icon class="sidenav-icon" color="primary">
          {{ option.icon }}
        </mat-icon>
        <span class="ml-3">
          {{ option.label }}
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
