<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <app-top-nav (sideNavToggled)="drawer.toggle()"></app-top-nav>
    <main class="main-container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>
</mat-sidenav-container> -->

<mat-sidenav-container>
  <mat-sidenav>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, ipsum ipsa!
    Dolorum esse sunt quis nobis tenetur, maxime ducimus eos adipisci commodi
    aperiam! Ea nobis, perferendis fuga accusamus qui dicta?
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <div class="container mx-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
