<div class="content">
  <h2 mat-dialog-title>Nuevo Usuario</h2>
  <mat-dialog-content>
    <form [formGroup]="userForm" fxLayout="column" fxLayoutGap="10px">
      <div class="mt-3">
        <label style="margin-right: 8px">Rol: </label>
        <mat-radio-group name="role" id="role" formControlName="role">
          <mat-radio-button class="px-2" value="user">
            Usuario
          </mat-radio-button>
          <mat-radio-button class="px-2" value="admin">
            Administrador
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Nombres</mat-label>
        <input matInput name="name" id="name" formControlName="name" />
        <mat-error *ngIf="name?.hasError('required')">
          <mat-icon>error</mat-icon>
          Este campo es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input matInput name="surname" id="surname" formControlName="surname" />
        <mat-error *ngIf="surname?.hasError('required')">
          <mat-icon>error</mat-icon>
          Este campo es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" id="email" formControlName="email" />
        <mat-error *ngIf="email?.hasError('required')">
          <mat-icon>error</mat-icon>
          Este campo es requerido
        </mat-error>
        <mat-error *ngIf="email?.hasError('email')">
          <mat-icon>error</mat-icon>
          Correo invalido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          name="password"
        />

        <mat-icon
          style="display: inline-block"
          matSuffix
          [matTooltip]="passwordMsg"
          matTooltipClass="line-broken-tooltip"
          >error</mat-icon
        >
        <!-- <mat-hint>{{ passwordMsg }}</mat-hint> -->
        <mat-icon
          style="display: inline-block"
          matSuffix
          (click)="hidePassword = !hidePassword"
        >
          {{ hidePassword ? "visibility_off" : "visibility" }}
        </mat-icon>

        <mat-error *ngIf="password?.hasError('required')">
          <mat-icon>error</mat-icon>
          Este campo es requerido
        </mat-error>
        <mat-error *ngIf="password?.hasError('pattern')">
          <mat-icon>error</mat-icon>
          {{ getPasswordValidationMsg() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Título de trabajo preferido</mat-label>
        <input
          matInput
          formControlName="jobTitle"
          name="jobTitle"
          [matAutocomplete]="autoJobTitles"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #autoJobTitles="matAutocomplete"
        >
          <mat-option
            *ngFor="let option of filteredJobTitles | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="jobTitle?.hasError('required')">
          <mat-icon>error</mat-icon>
          Este campo es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ubicación</mat-label>
        <input
          matInput
          formControlName="location"
          name="location"
          [matAutocomplete]="autoLocations"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #autoLocations="matAutocomplete"
        >
          <mat-option
            *ngFor="let option of filteredLocations | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="location?.hasError('required')">
          <mat-icon>error</mat-icon>
          Este campo es requerido
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="userForm.invalid"
      [mat-dialog-close]="userForm.value"
    >
      Guardar
    </button>
  </mat-dialog-actions>
</div>
