<mat-nav-list>
  <div class="profile-card">
    <mat-card-subtitle>
      <mat-icon color="accent">favorite_border</mat-icon>
      PP GENERATOR
    </mat-card-subtitle>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Opciones</h2>
  <a
    *ngFor="let item of options"
    mat-list-item
    [routerLinkActive]="'active'"
    [routerLink]="[item.path]"
  >
    <mat-icon class="sidenav-icon" color="primary">{{ item.icon }}</mat-icon>
    {{ item.title | titlecase }}
  </a>
</mat-nav-list>
