<main
  class="container h-screen-custom"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <!-- RESET PASSWORD (STEP 2) -->
  <mat-card *ngIf="isResetTokenValid; else recoverCard">
    <mat-card-title>¡Establece tu nueva contraseña!</mat-card-title>
    <p>
      Luego de establecer tu nueva contraseña, serás enviado al inicio de sesión
      automáticamente.
    </p>
    <mat-card-content>
      <form
        [formGroup]="resetForm"
        (ngSubmit)="resetPassword()"
        fxLayout="column"
        fxLayoutGap="1rem"
      >
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [type]="hidePass ? 'password' : 'text'"
            formControlName="password"
            name="password"
          />
          <mat-icon matSuffix (click)="hidePass = !hidePass">{{
            hidePass ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error *ngIf="password?.hasError('required')">
            <mat-icon>error</mat-icon>
            Escriba su nueva contraseña
          </mat-error>
          <mat-error *ngIf="password?.hasError('pattern')">
            <mat-icon>error</mat-icon>
            {{ getPasswordValidationMsg(password?.value) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirmar contraseña</mat-label>
          <input
            matInput
            [type]="hidePass2 ? 'password' : 'text'"
            formControlName="password2"
            name="password2"
          />
          <mat-icon matSuffix (click)="hidePass2 = !hidePass2">{{
            hidePass2 ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error *ngIf="password2?.hasError('required')">
            <mat-icon>error</mat-icon>
            Vuelva a escribir su nueva contraseña
          </mat-error>
          <mat-error *ngIf="resetForm.hasError('doNotMatch')">
            <mat-icon>error</mat-icon>
            Las contraseñas no coinciden
          </mat-error>
        </mat-form-field>

        <button
          color="primary"
          mat-flat-button
          type="submit"
          [disabled]="submittingReset"
        >
          Establecer nueva contraseña
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- RECOVERY PASSWORD (STEP 1) -->
  <ng-template #recoverCard>
    <mat-card>
      <mat-card-title>Restablecer contraseña</mat-card-title>
      <mat-card-content>
        <!-- <mat-spinner *ngIf="loading; else recover"></mat-spinner> -->
        <p>
          Introduce la dirección de correo electrónico que usaste para
          registrarte. Te enviaremos un correo electrónico con un enlace para
          restablecer tu contraseña.
        </p>
        <form
          [formGroup]="recoverForm"
          (ngSubmit)="recoverPassword()"
          fxLayout="column"
          fxLayoutGap="1rem"
        >
          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Correo electrónico</mat-label>
            <input
              type="text"
              matInput
              formControlName="email"
              type="email"
              name="email"
            />
            <mat-error *ngIf="email?.hasError('required')">
              <mat-icon>error</mat-icon>
              Ingrese el correo electrónico de su cuenta
            </mat-error>
            <mat-error *ngIf="email?.hasError('email')">
              <mat-icon>error</mat-icon>
              Parece que el correo electrónico ingresado no es válido
            </mat-error>
          </mat-form-field>
          <div fxLayoutAlign="space-between">
            <button
              color="primary"
              mat-button
              type="button"
              [routerLink]="routes.loginRoute"
            >
              Ir a iniciar sesión
            </button>
            <button
              color="primary"
              mat-flat-button
              type="submit"
              [disabled]="isRecoverRequested"
            >
              Enviar
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </ng-template>
</main>
