.fab {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem 1rem;
  z-index: 999;
}

a {
  text-decoration: none;
  color: inherit;
  margin-right: 14px;
}

mat-toolbar-row > button {
  margin-right: 0.875rem;
}
