<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        *ngIf="isAuth && (isHandset$ | async)"
        mat-icon-button
        (click)="toggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <a [routerLink]="routes.homeRoute" class="logo">
        <app-logo color="white"></app-logo>
      </a>

      <ng-container *ngIf="isAuth && (isHandset$ | async) === false">
        <button
          mat-button
          [routerLink]="routes.discoverRoute"
          matTooltip="¡Descubre un nuevo perfil profesional ideal!"
        >
          Descubrir Perfil Profesional
        </button>
        <button
          mat-button
          [routerLink]="routes.profilesRoute"
          matTooltip="Mira los perfiles profesionales que has descubierto"
        >
          Mis Perfiles
        </button>
        <button
          mat-button
          [routerLink]="routes.dashboardRoute"
          matTooltip="Mira las estadísticas de tus perfiles profesionales"
        >
          Dashboard
        </button>
      </ng-container>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="0.5rem">
        <button
          *ngIf="isAdmin"
          matTooltip="Panel de Administración"
          mat-button
          fxHide.xs
          [routerLink]="routes.adminRoute"
        >
          <mat-icon>admin_panel_settings</mat-icon>
          {{ "admin" | titlecase }}
        </button>

        <button
          *ngIf="isAdmin"
          matTooltip="Panel de Administración"
          mat-icon-button
          fxHide.gt-xs
          [routerLink]="routes.adminRoute"
        >
          <mat-icon>admin_panel_settings</mat-icon>
        </button>

        <ng-container *ngIf="isAuth; else loginButton">
          <button
            matTooltip="Opciones de Cuenta"
            mat-icon-button
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              *ngFor="let option of menuOptions"
              mat-menu-item
              [routerLink]="option.path"
            >
              <mat-icon>{{ option.icon }}</mat-icon>
              {{ option.label }}
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Cerrar sesión
            </button>
          </mat-menu>
        </ng-container>

        <ng-template #loginButton>
          <button fxHide.xs mat-flat-button [routerLink]="routes.loginRoute">
            <mat-icon>account_circle</mat-icon>
            INICIAR SESIÓN
          </button>
          <button
            fxHide
            fxShow.xs
            mat-icon-button
            [routerLink]="routes.loginRoute"
          >
            <mat-icon>account_circle</mat-icon>
          </button>
        </ng-template>

        <!-- FAB -->
        <button
          class="fab"
          mat-fab
          color="accent"
          matTooltip="¡Descubre un perfil profesional ideal!"
          [routerLink]="routes.discoverRoute"
        >
          <mat-icon>rocket_launch</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
