<header>
  <mat-toolbar fxLayout="row" color="primary" fxLayoutGap="0.75rem">
    <a fxFlex [routerLink]="homeRoute">
      {{ title | titlecase }}
    </a>

    <button mat-stroked-button fxHide.xs [routerLink]="discoverRoute">
      <mat-icon>rocket_launch</mat-icon>
      DESCUBRIR PERFIL PROFESIONAL
    </button>

    <ng-container *ngIf="isAuthenticated; else loginButton">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="editAccountRoute">
          <mat-icon>settings</mat-icon>
          Cuenta
        </button>
        <button mat-menu-item [routerLink]="profilesRoute">
          <mat-icon>interests</mat-icon>
          Mis Perfiles Profesionales
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Cerrar sesión
        </button>
      </mat-menu>
    </ng-container>

    <ng-template #loginButton>
      <button fxHide.xs mat-flat-button [routerLink]="loginRoute">
        INICIAR SESIÓN
      </button>
      <button fxHide fxShow.xs mat-icon-button [routerLink]="loginRoute">
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>

    <button
      class="fab"
      mat-fab
      color="accent"
      matTooltip="¡Descubre un perfil profesional ideal!"
      [routerLink]="discoverRoute"
    >
      <mat-icon>rocket_launch</mat-icon>
    </button>
  </mat-toolbar>
</header>
