<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex>
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title
          >HOLA, <span class="ppg-primary">BIENVENIDO</span></mat-card-title
        >
      </mat-card-header>
      <form
        class="example-form"
        (ngSubmit)="login(email.value, password.value)"
      >
        <mat-card-content>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" matInput #email />
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              placeholder="Password"
              [type]="hide ? 'password' : 'text'"
              #password
            />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </mat-form-field>
        </mat-card-content>

        <button
          *ngIf="acceso"
          type="button"
          mat-raised-button
          class="btn-block"
          class="btn-block button-login"
          disabled
          style="opacity: 0.7"
        >
          {{ textLogin }}
        </button>

        <button
          *ngIf="!acceso"
          type="submit"
          mat-raised-button
          class="btn-block button-login"
        >
          {{ textLogin }}
        </button>

        <mat-card-header>
          <a routerLink="/auth/register" routerLinkActive="active">
            <small>¿No tienes cuenta? <strong>REGÍSTRATE AQUÍ</strong></small>
          </a>
        </mat-card-header>
      </form>
    </mat-card>
  </div>

  <div fxFlex>
    <img
      width="600"
      height="430"
      src="../../../../assets/illustrations/ppg.png"
    />
    <mat-card-subtitle style="margin: 10px"
      >Descubre y gestiona los <strong>perfiles profesionales</strong> más
      solicitados!
    </mat-card-subtitle>
  </div>
</div>
