<div class="container" style="margin-bottom: 10rem">
  <section class="pb-14">
    <h1 class="text-center">
      ¡Descubre el perfil profesional que buscan las empresas!
    </h1>
    <div
      fxLayout="row"
      fxLayoutGap="40px"
      fxLayout.sm="column"
      fxLayout.xs="column"
    >
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="center">
        <p class="text-center text-lg py-3">
          ¡Indícanos tus preferencias para recomendarte el perfil profesional
          más demandado hoy!
        </p>
        <app-discover-form></app-discover-form>
      </div>

      <div fxFlex="50">
        <img
          class="rounded w-full animate__animated animate__fadeInRight"
          [src]="discoverImgSrc"
          alt="development"
        />
      </div>
    </div>
  </section>

  <!-- <section class="pt-14">
    <h1 class="">El algoritmo de web scraping detecta:</h1>
    <div class="my-8 grid gap-4 grid-cols-4">
      <span>+58 lenguajes de programación</span>
      <span>+28 marcos de trabajo</span>
      <span>+39 librerías o paquetes</span>
      <span>+23 bases de datos</span>
      <span>+33 herramientas de desarrollo</span>
      <span>+39 paradigmas de programación</span>
      <span>Si requiere o no inglés</span>
    </div>
  </section> -->

  <mat-divider></mat-divider>

  <section class="py-14" *ngIf="!!authService.accessToken">
    <div fxLayout="row" fxLayoutGap="20px">
      <h2>Tus últimos perfiles</h2>
      <div>
        <a mat-button color="accent" [routerLink]="profilesRoute">
          VER TODOS MIS PERFILES
        </a>
      </div>
    </div>

    <mat-spinner
      class="mx-auto"
      *ngIf="loadingLastProfiles; else divLastProfiles"
    ></mat-spinner>

    <ng-template #divLastProfiles>
      <p
        class="text-center text-lg"
        *ngIf="!lastProfiles.length; else divLastProfilesCards"
      >
        Todavía no has generado ningún perfil 😟
      </p>

      <ng-template #divLastProfilesCards>
        <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px">
          <div
            fxFlex="30"
            fxFlex.sm="45"
            fxFlex.xs="100"
            class="mb-4"
            *ngFor="let profile of lastProfiles"
          >
            <app-profile-card
              (reLoad)="loadLastProfiles()"
              [profile]="profile"
            ></app-profile-card>
          </div>
        </div>
        <div fxLayoutAlign="center" class="mt-5">
          <a mat-flat-button color="accent" [routerLink]="profilesRoute">
            VER TODOS MIS PERFILES
          </a>
        </div>
      </ng-template>
    </ng-template>
  </section>
</div>
