<mat-card>
  <mat-card-title>
    {{ profile.jobTitle | titlecase }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ profile.location | titlecase }}
  </mat-card-subtitle>

  <mat-card-content>
    <div>
      <app-tech-chips [technologies]="profile.technologies"></app-tech-chips>

      <div fxLayout="row">
        <mat-hint class="mr-1">Requiere ingles</mat-hint>
        <mat-icon color="primary" *ngIf="profile.requireEnglish">
          check_circle
        </mat-icon>
        <mat-icon color="warn" *ngIf="!profile.requireEnglish">cancel</mat-icon>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button [routerLink]="profileByIdRoute">
      <mat-icon>search</mat-icon> VER MÁS
    </button>
    <button mat-button (click)="remove()" color="warn">
      <mat-icon>delete</mat-icon> ELIMINAR
    </button>
  </mat-card-actions>
</mat-card>
