<div class="container">
  <h1>Dashboard</h1>
  <mat-divider></mat-divider>
  <br />

  <p>
    ❓ Aquí podrás encontrar información referente al número de tecnologías que
    has encontrado en tus perfiles generados.
  </p>

  <div
    fxLayout="row wrap"
    fxLayoutGap="20px grid"
    fxLayoutAlign="center center"
  >
    <div
      *ngFor="let chart of charts | keyvalue"
      fxFlex="50%"
      fxFlex.lt-md="100%"
    >
      <mat-card
        class="text-center"
        *ngIf="
          !chart.value.data?.labels?.length && !chart.value.loading;
          else chartTemplate
        "
      >
        ¡Aún no has descubierto perfiles con
        {{ chart.value.title | lowercase }}! 😟
        <br />
        <mat-card-actions>
          <button mat-button color="accent" [routerLink]="routes.discoverRoute">
            DESCUBRIR PERFIL PROFESIONAL
          </button>
        </mat-card-actions>
      </mat-card>

      <ng-template #chartTemplate>
        <app-pie-chart
          title=" {{ chart.value.title }}"
          [loading]="chart.value.loading"
          [pieChartData]="chart.value.data"
        ></app-pie-chart>
      </ng-template>
    </div>
  </div>
</div>
