.mat-icon {
  vertical-align: middle;
  margin-right: 20px;
}

.mat-nav-list {
  width: 100%;
}

a .mat-icon {
  margin-right: 15px;
}

a {
  display: block;
}

mat-nav-list {
  min-width: 240px;
}

.logo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 64px;
  cursor: pointer;
}
