<mat-nav-list>
  <div class="profile-card" fxLayout fxLayoutAlign="center center">
    <button mat-button [routerLink]="routes.homeRoute">
      <mat-icon color="accent">favorite_border</mat-icon>
      PERFILES PROFESIONALES
    </button>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Opciones</h2>
  <a
    *ngFor="let item of options"
    mat-list-item
    [routerLinkActive]="'active'"
    [routerLink]="item.path"
  >
    <mat-icon class="sidenav-icon" color="primary">{{ item.icon }}</mat-icon>
    {{ item.label }}
  </a>
</mat-nav-list>
