<mat-nav-list>
  <div fxLayout fxLayoutAlign="center center">
    <div class="logo" [routerLink]="routes.homeRoute">
      <app-logo color="primary"></app-logo>
    </div>
  </div>

  <h3 matSubheader>Mantenimiento</h3>
  <a
    *ngFor="let item of maintenanceOptions"
    mat-list-item
    [routerLinkActive]="'active'"
    [routerLink]="item.path"
  >
    <mat-icon class="sidenav-icon" color="primary">{{ item.icon }}</mat-icon>
    {{ item.label }}
  </a>

  <h3 matSubheader>Auditoría</h3>
  <a
    *ngFor="let item of auditOptions"
    mat-list-item
    [routerLinkActive]="'active'"
    [routerLink]="item.path"
  >
    <mat-icon class="sidenav-icon" color="primary">{{ item.icon }}</mat-icon>
    {{ item.label }}
  </a>
</mat-nav-list>
