<div
  fxLayout="row wrap"
  fxLayoutAlign="space-evenly center"
  class="h-screen-custom"
>
  <div fxFlex="100" fxFlex.gt-xs="50">
    <mat-card>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <mat-card-title class="text-center ppg-primary">
          Crea tu cuenta
        </mat-card-title>

        <mat-card-content fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Nombres</mat-label>
            <input
              matInput
              formControlName="name"
              name="name"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="name?.hasError('required')">
              <mat-icon>error</mat-icon>
              Por favor, ingrese sus <strong>nombres</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input
              matInput
              formControlName="surname"
              name="surname"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="surname?.hasError('required')">
              <mat-icon>error</mat-icon>
              Por favor, ingrese sus <strong>apellidos</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              name="email"
              type="email"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="email?.hasError('required')">
              <mat-icon>error</mat-icon>
              Por favor, ingrese su <strong>correo electrónico</strong>
            </mat-error>
            <mat-error
              *ngIf="email?.hasError('email') && !email?.hasError('required')"
            >
              <mat-icon>error</mat-icon>
              Por favor, ingrese un correo electrónico <strong>válido</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              name="password"
            />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
            <mat-error *ngIf="password?.hasError('required')">
              <mat-icon>error</mat-icon>
              Por favor, ingrese su futura <strong>contraseña</strong>
            </mat-error>
            <mat-error *ngIf="password?.hasError('pattern')">
              <mat-icon>error</mat-icon>
              {{ getPasswordValidationMsg() }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirmar contraseña</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password2"
              name="password2"
            />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
            <mat-error *ngIf="password?.hasError('required')">
              <mat-icon>error</mat-icon>
              Por favor, <strong>confirme</strong> su contraseña
            </mat-error>
            <mat-error *ngIf="registerForm.hasError('doNotMatch')">
              <mat-icon>error</mat-icon>
              Las contraseñas <strong>no coinciden</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Título de trabajo preferido</mat-label>
            <input
              matInput
              formControlName="jobTitle"
              name="jobTitle"
              [matAutocomplete]="autoJobTitles"
              placeholder="Ejemplo: Web Developer"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoJobTitles="matAutocomplete"
            >
              <mat-option
                *ngFor="let option of filteredJobTitles | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="jobTitle?.hasError('required')">
              <mat-icon>error</mat-icon>
              Por favor, ingrese su <strong>título de trabajo preferido</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ubicación preferida</mat-label>
            <input
              matInput
              formControlName="location"
              name="location"
              placeholder=""
              [matAutocomplete]="autoLocations"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoLocations="matAutocomplete"
            >
              <mat-option
                *ngFor="let option of filteredLocations | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="location?.hasError('required')">
              <mat-icon>error</mat-icon>
              Por favor, ingrese su <strong>ciudad</strong>
            </mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
          <button
            type="submit"
            mat-flat-button
            [disabled]="loading"
            color="primary"
            class="w-full"
          >
            {{ loading ? 'ACCEDIENDO...' : 'REGISTRARME' }}
          </button>
          <div class="divider"></div>
          <div fxLayoutAlign="center" class="mt-4">
            <button
              type="button"
              mat-button
              color="accent"
              [routerLink]="loginRoute"
            >
              {{ 'ir a login' | uppercase }}
            </button>
          </div>
        </mat-card-actions>
      </form>

      <mat-card-footer>
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="loading"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>

  <div fxFlex="50" fxHide.xs class="animate__animated animate__fadeInDown">
    <img
      class="m-5 w-full"
      src="./assets/illustrations/javascript_frameworks.svg"
    />
    <p class="text-center text-lg">
      ¡Conoce las tecnologías <strong>más demandadas</strong> por las empresas!
    </p>
  </div>
</div>
