<mat-card>
  <mat-card-header>
    <mat-card-title>Generar perfil profesional</mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-icon color="warn" matSuffix>search</mat-icon>
          <input
            matInput
            type="text"
            [disabled]="loading"
            placeholder="Titulo de trabajo"
            [(ngModel)]="generatePpg.jobTitle"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-icon color="warn" matSuffix> place</mat-icon>
          <input
            matInput
            type="text"
            [disabled]="loading"
            placeholder="Ciudad, provincia, país"
            [(ngModel)]="generatePpg.location"
          />
        </mat-form-field>
      </mat-grid-tile>

      <!-- <mat-grid-tile>
        <button
          mat-raised-button
          color="accent"
          type="button"
          [disabled]="!isValidForm()"
          (click)="generate()"
        >
          Buscar
        </button>
      </mat-grid-tile> -->
    </mat-grid-list>
  </mat-card-content>

  <mat-card-actions style="margin: 10px">
    <button
      [disabled]="loading"
      mat-raised-button
      color="accent"
      type="button"
      (click)="generate()"
    >
      <mat-icon matSuffix>search</mat-icon>
      Generar
    </button>
  </mat-card-actions>

  <mat-progress-bar
    color="accent"
    mode="indeterminate"
    *ngIf="loading"
  ></mat-progress-bar>
</mat-card>

<div fxLayout="row">
  <div fxFlex="55" style="margin: 5px">
    <div>
      <mat-card-subtitle style="margin: 10px">Resultado</mat-card-subtitle>
    </div>
    <mat-card>
      <mat-card-content>
        <br />

        <div fxLayout="row">
          <div fxFlex="30">
            <br />
            <mat-label> <strong>Titulo del trabajo: </strong> </mat-label>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="text"
                [(ngModel)]="ppGenerated.jobTitle"
                class="text-right"
                disabled
              />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="30">
            <br />
            <mat-label> <strong>Ubicación: </strong> </mat-label>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="text"
                [(ngModel)]="ppGenerated.location"
                class="text-right"
                disabled
              />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">
          <div mat-subheader>Lenguajes</div>
          <mat-divider></mat-divider>
        </div>

        <div fxLayout="row">
          <mat-chip-list
            class="example-chip"
            cdkDropList
            cdkDropListOrientation="horizontal"
          >
            <mat-chip
              class="example-box"
              cdkDrag
              *ngFor="let item of ppGenerated.languages"
            >
              {{ item }}
            </mat-chip>
          </mat-chip-list>
        </div>

        <div fxLayout="row">
          <div mat-subheader>Frameworks</div>
          <mat-divider></mat-divider>
        </div>

        <div fxLayout="row">
          <mat-chip-list
            class="example-chip"
            cdkDropList
            cdkDropListOrientation="horizontal"
          >
            <mat-chip
              class="example-box"
              cdkDrag
              *ngFor="let item of ppGenerated.frameworks"
            >
              {{ item }}
            </mat-chip>
          </mat-chip-list>
        </div>

        <div fxLayout="row">
          <div mat-subheader>Base de datos</div>
          <mat-divider></mat-divider>
        </div>

        <div fxLayout="row">
          <mat-chip-list
            class="example-chip"
            cdkDropList
            cdkDropListOrientation="horizontal"
          >
            <mat-chip
              class="example-box"
              cdkDrag
              *ngFor="let item of ppGenerated.databases"
            >
              {{ item }}
            </mat-chip>
          </mat-chip-list>
        </div>

        <div fxLayout="row">
          <div mat-subheader>Patterns</div>
          <mat-divider></mat-divider>
        </div>

        <div fxLayout="row">
          <mat-chip-list
            class="example-chip"
            cdkDropList
            cdkDropListOrientation="horizontal"
          >
            <mat-chip
              class="example-box"
              cdkDrag
              *ngFor="let item of ppGenerated.patterns"
            >
              {{ item }}
            </mat-chip>
          </mat-chip-list>
        </div>

        <div fxLayout="row">
          <div mat-subheader>Herramientas</div>
          <mat-divider></mat-divider>
        </div>

        <div fxLayout="row">
          <mat-chip-list
            class="example-chip"
            cdkDropList
            cdkDropListOrientation="horizontal"
          >
            <mat-chip
              class="example-box"
              cdkDrag
              *ngFor="let item of ppGenerated.tools"
            >
              {{ item }}
            </mat-chip>
          </mat-chip-list>
        </div>

        <div fxLayout="row">
          <div mat-subheader>Paradigms</div>
          <mat-divider></mat-divider>
        </div>

        <div fxLayout="row">
          <mat-chip-list
            class="example-chip"
            cdkDropList
            cdkDropListOrientation="horizontal"
          >
            <mat-chip
              class="example-box"
              cdkDrag
              *ngFor="let item of ppGenerated.paradigms"
            >
              {{ item }}
            </mat-chip>
          </mat-chip-list>
        </div>

        <div fxLayout="row">
          <div mat-subheader>
            Requiere ingles
            <mat-icon color="accent" *ngIf="ppGenerated.requireEnglish"
              >check_circle</mat-icon
            >
            <mat-icon color="warn" *ngIf="!ppGenerated.requireEnglish"
              >cancel</mat-icon
            >
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="45" style="margin: 5px">
    <div>
      <mat-card-subtitle style="margin: 10px"
        >All professional profiles</mat-card-subtitle
      >
    </div>
    <mat-card>
      <mat-card-content fxLayoutAlign="center center">
        <table mat-table [dataSource]="professionalProfiles">
          <!-- Item Column -->
          <ng-container matColumnDef="JobTitle">
            <th class="width-textArea" mat-header-cell *matHeaderCellDef>
              JobTitle
            </th>
            <td class="width-textArea" mat-cell *matCellDef="let profile">
              {{ profile.jobTitle }}
            </td>
          </ng-container>

          <!-- Cost Column -->
          <ng-container matColumnDef="Location">
            <th mat-header-cell *matHeaderCellDef>Location</th>
            <td mat-cell *matCellDef="let profile">{{ profile.location }}</td>
          </ng-container>

          <tr
            class="width-textArea"
            mat-header-row
            *matHeaderRowDef="displayedColumns"
          ></tr>
          <tr
            class="width-textArea"
            mat-row
            *matRowDef="let row; columns: displayedColumns"
          ></tr>

          <!-- Cost Column -->
          <!-- <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let profile"></td>
        </ng-container> -->

          <!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
