<mat-card>
  <!-- <mat-card-header> -->
  <mat-card-title-group>
    <mat-card-title>
      {{ job.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ job.company.name }} - {{ job.location }}
      {{ '(' + job.workplaceType + ')' }}
    </mat-card-subtitle>
    <img mat-card-sm-image class="" [src]="job.company.photoUrl" />
  </mat-card-title-group>
  <!-- </mat-card-header> -->
  <mat-card-actions>
    <a [href]="job.url" target="_blank" mat-button color="primary">
      <mat-icon>open_in_new</mat-icon>
      {{ 'Ir a la oferta' | uppercase }}
    </a>
  </mat-card-actions>
</mat-card>
