<mat-card>
  <mat-card-title>
    {{ professionalProfile.jobTitle | titlecase }}
  </mat-card-title>

  <div fxLayout="column" fxLayoutGap="10px">
    <mat-card-content>
      <i>{{ professionalProfile.location | titlecase }}</i>
    </mat-card-content>

    <app-tech-chip-list
      [technology]="professionalProfile.languages"
      identifier="Lenguajes"
    ></app-tech-chip-list>

    <app-tech-chip-list
      [technology]="professionalProfile.frameworks"
      identifier="Frameworks"
    ></app-tech-chip-list>

    <app-tech-chip-list
      [technology]="professionalProfile.databases"
      identifier="Bases de datos"
    ></app-tech-chip-list>

    <app-tech-chip-list
      [technology]="professionalProfile.tools"
      identifier="Herramientas"
    ></app-tech-chip-list>

    <app-tech-chip-list
      [technology]="professionalProfile.paradigms"
      identifier="Paradigmas"
    ></app-tech-chip-list>

    <app-tech-chip-list
      [technology]="professionalProfile.patterns"
      identifier="Patrones ó estilos"
    ></app-tech-chip-list>
  </div>

  <div mat-subheader>
    Requiere ingles
    <mat-icon color="accent" *ngIf="professionalProfile.requireEnglish"
      >check_circle</mat-icon
    >
    <mat-icon color="warn" *ngIf="!professionalProfile.requireEnglish"
      >cancel</mat-icon
    >
  </div>
</mat-card>
