<mat-nav-list>
  <div class="profile-card">
    <mat-card-subtitle>
      <mat-icon color="accent">favorite_border</mat-icon> PP
      GENERATOR</mat-card-subtitle
    >
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a
    *ngFor="let item of routes"
    mat-list-item
    [routerLinkActive]="'active'"
    [routerLink]="[item.path]"
  >
    <mat-icon class="sidenav-icon" color="warn">{{ item.icon }}</mat-icon>
    {{ item.title }}
  </a>
  <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/blank-page']">
    <mat-icon color="warn" class="sidenav-icon">insert_drive_file</mat-icon
    >Blank Page
  </a> -->
  <!-- <div class="nested-menu">
    <a mat-list-item (click)="showMenu = !showMenu">
      <mat-icon class="sidenav-icon">add</mat-icon>Menu
    </a>
    <ul class="nested submenu" [class.expand]="showMenu">
      <li>
        <a href="javascript:void(0)">
          <span>Submenu</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span>Submenu</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span>Submenu</span>
        </a>
      </li>
    </ul>
  </div> -->
</mat-nav-list>
