<div class="content">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h2 mat-dialog-title>Cursos recomendados para "{{ data.coursename }}"</h2>

    <button mat-icon-button color="warn" (click)="onNoClick()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <br />
  <mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 class="no-found" *ngIf="!loading && courses.length === 0">
        No se encontraron cursos 😐
      </h1>
      <h2 *ngIf="!loading && courses.length > 0">
        Cursos encontrados ( {{ courses.length }} )
      </h2>
      <h2 *ngIf="loading">Este proceso puede tardar unos minutos 😁</h2>
    </div>

    <div fxLayout="row"></div>
    <div
      fxLayout="row wrap"
      fxLayoutGap="20px grid"
      fxLayoutAlign="center center"
      *ngIf="loading"
    >
      <app-skelenton-loader
        [height]="250"
        fxFlex="33%"
        fxFlex.lt-md="100%"
      ></app-skelenton-loader>
      <app-skelenton-loader
        [height]="250"
        fxFlex="33%"
        fxFlex.lt-md="100%"
      ></app-skelenton-loader>
      <app-skelenton-loader
        [height]="250"
        fxFlex="33%"
        fxFlex.lt-md="100%"
      ></app-skelenton-loader>
    </div>

    <div
      fxLayout="row wrap"
      fxLayoutGap="20px grid"
      fxLayoutAlign="center center"
      *ngIf="!loading"
    >
      <div *ngFor="let course of courses" fxFlex="33%" fxFlex.lt-md="100%">
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
  </mat-dialog-content>
</div>
