.table-container {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  overflow: auto;
  position: relative;
}

.table-header {
  padding: 1rem;
}

.table-title {
  padding: 0;
  margin: 0;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
