<ngx-spinner type="ball-8bits" *ngIf="loading"></ngx-spinner>

<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-between" class="pb-4">
    <mat-card-title>Tecnologías</mat-card-title>
    <button mat-flat-button color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Nueva Tecnología
    </button>
  </div>

  <mat-card-content>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Buscar...</mat-label>
      <input matInput #input />
    </mat-form-field>

    <table mat-table [dataSource]="technologies" class="w-full">
      <ng-container matColumnDef="Tipo">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let technology">{{ technology.type }}</td>
      </ng-container>

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let technology">{{ technology.name }}</td>
      </ng-container>

      <ng-container matColumnDef="Identificadores">
        <th mat-header-cell *matHeaderCellDef>Identificadores</th>
        <td mat-cell *matCellDef="let technology">
          <ul *ngFor="let item of technology.identifiers">
            <li>{{ item }}</li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="Acciones" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let technology">
          <button
            mat-button
            color="primary"
            type="button"
            (click)="openDialog(technology)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-button
            color="warn"
            type="button"
            (click)="delete(technology.technologyId)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [length]="resultsLength"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
