<h1>Dashboard</h1>
<p>
  ❓ Aquí podrás encontrar información referente al número de tecnologías que has encontrado en tus
  perfiles generados.
</p>

<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
  <app-card
    fxFlex="1 1 calc(45% - 5px)"
    style="padding-bottom: 10px"
    *ngFor="let card of cards"
    title=" {{ card.title }}"
  >
    <!-- TODO: Mostrar estado loading correctamente -->
    <!-- TODO: Hacer layout responsive -->
    <app-pie-chart [loading]="card.loading" [pieChartData]="card.chartData"></app-pie-chart>
  </app-card>
</div>
