<div fxLayout="row wrap">
  <h1>Dashboard</h1>
</div>

<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
  <app-card
    fxFlex="1 1 calc(45% - 5px)"
    style="padding-bottom: 10px"
    *ngFor="let card of cards | async"
    title=" {{ card.title }}"
  >
    <app-frameworks *ngIf="card.id == 1"></app-frameworks>
    <app-lenguages *ngIf="card.id == 2"></app-lenguages>
    <app-databases *ngIf="card.id == 3"></app-databases>
    <app-tools *ngIf="card.id == 4"></app-tools>
  </app-card>
</div>
