<app-account-header title="Cambiar contraseña"></app-account-header>

<form [formGroup]="form" (ngSubmit)="updatePassword()">
  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña actual</mat-label>
        <input
          matInput
          [type]="hideCurrent ? 'password' : 'text'"
          formControlName="currentPassword"
          name="currentPassword"
        />
        <mat-icon matSuffix (click)="hideCurrent = !hideCurrent">{{
          hideCurrent ? 'visibility_off' : 'visibility'
        }}</mat-icon>
        <mat-error *ngIf="currentPassword?.hasError('required')">
          <mat-icon>error</mat-icon>
          La contraseña actual es requerida
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input
          matInput
          [type]="hideNew ? 'password' : 'text'"
          formControlName="newPassword"
          name="newPassword"
        />
        <mat-icon matSuffix (click)="hideNew = !hideNew">{{
          hideNew ? 'visibility_off' : 'visibility'
        }}</mat-icon>
        <mat-error *ngIf="newPassword?.hasError('required')">
          <mat-icon>error</mat-icon>
          La nueva contraseña es requerida
        </mat-error>
        <mat-error *ngIf="newPassword?.hasError('pattern')">
          <mat-icon>error</mat-icon>
          {{ getPasswordValidationMsg() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar nueva contraseña</mat-label>
        <input
          matInput
          [type]="hideNew2 ? 'password' : 'text'"
          formControlName="newPassword2"
          name="newPassword2"
        />
        <mat-icon matSuffix (click)="hideNew2 = !hideNew2">{{
          hideNew2 ? 'visibility_off' : 'visibility'
        }}</mat-icon>
        <mat-error *ngIf="newPassword2?.hasError('required')">
          <mat-icon>error</mat-icon>
          Debe confirmar su contraseña volviéndola a escribir
        </mat-error>
        <mat-error *ngIf="form.hasError('doNotMatch')">
          <mat-icon>error</mat-icon>
          Las contraseñas no coinciden
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button type="button" (click)="cancel()">Cancelar</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="submitting"
        type="submit"
      >
        Establecer nueva contraseña
      </button>
    </mat-card-actions>
  </mat-card>
</form>
