<mat-card class="">
  <mat-card-title>
    <div class="flex justify-between items-center">
      <div>{{ title }}</div>
      <button
        mat-icon-button
        class="more-button"
        [matMenuTriggerFor]="menu"
        aria-label="Toggle menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </div>
  </mat-card-title>

  <mat-card-content class="dashboard-card-content">
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
