<form [formGroup]="form">
  <mat-card>
    <mat-card-title>Editar cuenta </mat-card-title>
    <br />
    <mat-card-content fxLayout="column">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Nombres</mat-label>
        <input
          matInput
          class="capitalize"
          placeholder="Ingrese sus nombres"
          name="name"
          formControlName="name"
          [value]="form.get('name')?.value | titlecase"
        />
        <mat-error *ngIf="validErrorForm('name')">
          <mat-icon>error</mat-icon>
          El nombre es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Apellidos</mat-label>
        <input
          class="capitalize"
          matInput
          placeholder="Ingrese sus Apellidos"
          name="surname"
          formControlName="surname"
          [value]="form.get('surname')?.value | titlecase"
        />
        <mat-error *ngIf="validErrorForm('surname')">
          <mat-icon>error</mat-icon>
          El apellido es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Ingrese su email"
          name="email"
          formControlName="email"
        />
        <mat-error *ngIf="validErrorForm('email')">
          <mat-icon>error</mat-icon>
          El correo electrónico es requerido
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button type="button" (click)="cancel()">Cancelar</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid || submitting"
        type="submit"
        (click)="updateAccount()"
      >
        Guarda cambios
      </button>
    </mat-card-actions>
  </mat-card>
</form>
