<form [formGroup]="form">
  <mat-card>
    <mat-card-title>Editar cuenta</mat-card-title>
    <br />
    <mat-card-content fxLayout="column">
      <section fxLayout="column">
        <mat-card-subtitle>Datos personales</mat-card-subtitle>
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-label>Nombres</mat-label>
            <input
              matInput
              class="capitalize"
              placeholder="Ingrese sus nombres"
              name="name"
              formControlName="name"
            />
            <mat-error *ngIf="name?.hasError('required')">
              <mat-icon>error</mat-icon>
              El nombre es requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50">
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-label>Apellidos</mat-label>
            <input
              class="capitalize"
              matInput
              placeholder="Ingrese sus Apellidos"
              name="surname"
              formControlName="surname"
            />
            <mat-error *ngIf="surname?.hasError('required')">
              <mat-icon>error</mat-icon>
              El apellido es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-icon matSuffix>mail</mat-icon>
          <mat-label>Correo electrónico</mat-label>
          <input
            type="email"
            matInput
            placeholder="Ingrese su email"
            name="email"
            formControlName="email"
          />
          <mat-error *ngIf="email?.hasError('required')">
            <mat-icon>error</mat-icon>
            El correo electrónico es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Biografía</mat-label>
          <textarea
            matInput
            placeholder="Ingrese en pocas palabras su biografía"
            name="biography"
            formControlName="biography"
          ></textarea>
        </mat-form-field>
      </section>

      <section fxLayout="column">
        <mat-card-subtitle>Preferencias</mat-card-subtitle>
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-icon matSuffix>work</mat-icon>
            <mat-label>Título de trabajo</mat-label>
            <input
              matInput
              placeholder="Ingrese su título de trabajo preferido"
              name="jobTitle"
              formControlName="jobTitle"
            />
            <mat-error *ngIf="jobTitle?.hasError('required')">
              <mat-icon>error</mat-icon>
              El título de trabajo es requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100">
            <mat-icon matSuffix>pin_drop</mat-icon>
            <mat-label>Ubicación</mat-label>
            <input
              matInput
              placeholder="Ingrese su ubicación"
              name="location"
              formControlName="location"
            />
            <mat-error *ngIf="location?.hasError('required')">
              <mat-icon>error</mat-icon>
              La ubicación es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </section>

      <section fxLayout="column">
        <mat-card-subtitle>Social</mat-card-subtitle>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-icon matSuffix>link</mat-icon>
          <mat-label>Perfil en LinkedIn</mat-label>
          <input
            type="url"
            matInput
            placeholder="Ingrese el URL de su perfil en LinkedIn"
            name="linkedIn"
            formControlName="linkedIn"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-icon matSuffix>link</mat-icon>
          <mat-label>Perfil en GitHub</mat-label>
          <input
            type="url"
            matInput
            placeholder="Ingrese el URL de su perfil en GitHub"
            name="github"
            formControlName="github"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-icon matSuffix>link</mat-icon>
          <mat-label>Portafolio</mat-label>
          <input
            type="url"
            matInput
            placeholder="Ingrese el URL de su portafolio"
            name="portfolio"
            formControlName="portfolio"
          />
        </mat-form-field>
      </section>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button type="button" (click)="cancel()">Cancelar</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="submitting"
        type="submit"
        (click)="updateAccount()"
      >
        Guarda cambios
      </button>
    </mat-card-actions>
  </mat-card>
</form>
