/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  background: #e2e2e2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.ppg-primary {
  color: #3f51b5;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.alert-danger {
  color: red;
}

.line-broken-tooltip {
  white-space: pre-line;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
