<!-- <app-header></app-header> -->

<div class="pt-14">
  <h1 class="!text-4xl text-center">
    ¡Descubre el perfil profesional que buscan las empresas!
  </h1>
  <p>Aquí iría una especie de tutorial con imágenes de cómo utilizar la app</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, beatae ullam
    vitae nulla natus similique temporibus esse cumque ipsa id impedit
    praesentium doloribus accusantium quo? Quo odio eaque ab accusamus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ipsum,
    doloribus quae perspiciatis iure, magni debitis tempora provident eaque
    aperiam nam! Natus numquam blanditiis ratione quis, nesciunt non quaerat
    adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
    dolore, cum in quas facere architecto. Laborum doloribus unde fugit debitis
    ratione, reprehenderit nulla quas nemo totam quo, beatae voluptate soluta.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id explicabo, optio
    placeat cum nisi quisquam. At consequatur, sed fugiat necessitatibus maiores
    commodi recusandae nesciunt voluptatum ab inventore deserunt, quasi
    repellat?
  </p>

  <a mat-raised-button color="accent" [routerLink]="discoverRoute">
    DESCUBRIR PERFIL PROFESIONAL
  </a>
</div>
