h1 {
  font-size: 5rem;
  line-height: 5.25rem;
  margin: 5rem 0 3rem 0;
}

#discover-button {
  font-size: 1.5rem;
  padding: 0.5rem 1.75rem;
  margin-top: 1rem;
}

#discover-subtitle {
  font-size: 1rem;
  color: gray;
  line-height: 1.25rem;
}
