@import "/src/styles/variables";

.pretitle {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h1 {
  font-size: 3rem;
  line-height: 3.25rem;
  margin-bottom: 1.5rem;
}

#discover-button {
  font-size: 1.5rem;
  padding: 0.5rem 1.75rem;
  margin-top: 1rem;
}

#discover-subtitle {
  font-size: 1rem;
  color: gray;
  line-height: 1.25rem;
}

@media only screen and (min-width: 640px) {
  h1 {
    font-size: 5rem;
    line-height: 5.25rem;
    margin-bottom: 3rem;
  }
}
