<div fxLayout="column" fxLayoutGap="10px">
  <div *ngFor="let item of techChipItems">
    <div *ngIf="item.technologyNames.length">
      <mat-hint>{{ item.label }}</mat-hint>
      <mat-chip-list>
        <mat-chip
          *ngFor="let technologyName of item.technologyNames"
          [matTooltip]="'¡Descubrir cursos de ' + technologyName + '!'"
          matTooltipClass="text-md"
          (click)="openDialog(technologyName)"
        >
          {{ technologyName }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
