<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <app-top-nav (sideNavToggled)="drawer.toggle()"></app-top-nav>

    <!-- <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ppg-frontend</span>
    </mat-toolbar> -->

    <main class="main-container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>
</mat-sidenav-container>
