<h1 mat-dialog-title>Nuevo usuario</h1>
<mat-dialog-content>
  <form action="" [formGroup]="user_form">
    <div fxLayout="column" fxLayoutGap="8px">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput name="name" id="name" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput name="surname" id="surname" formControlName="surname" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" id="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          name="password"
          id="password"
          formControlName="password"
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
